@charset "utf-8";

body {background: gray;}

main {background: lightblue;}

main, header, nav, footer, article {
    border: 1px solid gray;
    padding: 5px;
    box-sizing: border-box;
}

header, nav, footer, article{
    background: white;
    margin: 5px;
}

main{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

header, nav, footer{
    flex: 0 0 100%;
    /*width: 100%;*/
}

article{
    flex: 1 0 calc(33.3333% - 10px);
    /*width: calc(33.3333% - 10px);*/
}