@charset "utf-8";

body {background: gray;}

main {background: lightblue;}

main, header, nav, footer, article {
    border: 1px solid gray;
    padding: 5px;
    box-sizing: border-box;
}

header, nav, footer, article{
    background: white;
    margin: 5px;
}

main{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
    align-content: stretch;
}

header, nav, footer{
    flex: 0 0 100%;
    /*width: 100%;*/
}

article{
    flex: 0 0 calc(33.3333% - 10px);
    /*width: calc(33.3333% - 10px);*/
}

main article:nth-child(5){
    color: blue;
    order: -1;
}

header, nav {order: -10;}

nav li{
    list-style-type: none;
    padding: 5px;
}

nav, nav ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

nav a{text-decoration: none;}